@{
    ViewBag.Title = "About";
}
<head>
    <link rel="stylesheet" type="text/css" href="~/Content/myStyles.css" />
</head>


<div class="brycecontainer">
    <img src="~/Content/Images/newfamily.jpg" alt="Family" class="bryceimage">
    <div class="bryceoverlay">
        <div class="text">Hello World</div>
    </div>
</div>
