@{
    ViewBag.Title = "About";
}
<head>
    <link rel="stylesheet" type="text/css" href="~/Content/myStyles.css" />
</head>


<div class="brycecontainer">
    <img src="~/Content/Images/newfamily.jpg" alt="Family" class="bryceimage">
    <div class="bryceoverlay">
        <div class="brycetext">“To us, family means putting your arms around each other and being there.”</div>
    </div>
</div>

<h1 class="brycecentertext">~ OUR MISSION ~</h1>

<div>
    <h3 class="brycecentertext">We are here to help you. Regardless of your situation.</h3> <br />
    <p>
        We are here to help you get your loved one out of jail fast, at the cheapest rate possible. That’s why we’re on-call 24 hours a day, 7 days a week. <br />
        We’re also here to look up jail and charge information to provide you over the phone. Worried about confidentiality? We only request the exact information we need,
        and we guarantee it is only used for securing the release of your loved one. <br />
        You’ll get licensed counsel from expert bail bondsmen. With 20+ years serving customers, you can rest assured you’re getting the best service anywhere in Utah. <br />
    </p>
</div>
<div>
    <h3>WHAT IS A BAIL BONDSMAN?</h3>
A bail bondsman or bail agent is any person, or agency that will act as a guarantee and pledge money or property as bail and insure that the person that is accused of the crime will appear in court.

<h3>HOW DO BAIL BONDS WORK?</h3>
If you are a news junkie, you probably hear about bail on an almost daily basis whenever someone gets arrested. You may hear something like, “This person was released on X thousand dollars bail and will return in two weeks.” But what is bail and what does it do? If the defendant was already released on bail, why does he or she have to return to court? If you need a Bail 101 course, the following information can help.

<h3>BACKGROUND</h3>
When someone is suspected of a crime and is arrested, law enforcement agents will take them to jail for booking. The individual will have their mug shot taken, be fingerprinted, and be asked for a statement. The person will be held in jail until his or her day in court unless he or she is released on bail.

<h3>WHAT IS BAIL? WHAT IS A BOND?</h3>
Bail is a financial arrangement that a bail bonding agency, such as  Breaking Bad Bail Bonds, will make on behalf of the defendant. Acting for the defendant, the bail bonding agency will arrange with the court to have the defendant released from jail while awaiting trial in exchange for money or collateral. This can be cash, assets, or a bond. The court decides the monetary value of the bail.

The bail agency will ensure that the defendant arrives in court on his or her day of trial. If the defendant does not come to court, the bail agency may hire a bounty hunter to track them down. A bond is a written promise that the suspect will appear before court to answer on charges.

<h3>HOW DO BONDS AND BONDSMEN WORK?</h3>
For the release of a defendant on bail, a bail bondsman (working with a bail bond agency) usually charges a fee of about 10% of the amount of money required to pay bail. Even if the case is thrown out after the bail is posted, this fee is not refundable.

In order to cover the cost of the bail, a bail bondsman may take collateral. Sometimes a defendant does not have enough assets. This being the case, the bondsman may take out securities against individuals who are willing to help, like relatives and friends.

If the defendant does not come to court on the day of trial, the bondsman can hire a bounty hunter to track the defendant down. In addition, the bondsman has the right to sue the defendant for the total amount of the bail bond, any fees or losses incurred to return the defendant to court, collection fees, and interest.

<h3>WHAT IS A CASH ONLY BOND?</h3>
A cash only bail is sometimes required by the court if they feel that there is a greater risk that the defendant won’t show up for their court date. Instances may include a defendant who has previously not shown up for court or is arrested on a warrant. A bondsman is not needed when paying a cash bail. Just take the exact amount to the jail or pay with a credit card. If you pay with a credit card, be prepared to pay an additional processing fee (usually 3%).
<br /><br />
<a href="~/Home/Contact/">Contact us today</a> to learn more and to find a Breaking Bad Bail bondsman in Utah.
</div>