@{
    ViewBag.Title = "About";
}
<head>
    <link rel="stylesheet" type="text/css" href="~/Content/myStyles.css" />
</head>


<body class="bryceimagebackground">
    <h2>Ye Old Blow Out</h2>
    <div>
        <p> The Worlds Largest Emporium of New and Used Antique Instruments</p>
        <br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
        <p>"It's easy to play any musical instrument: all you have to do is touch the right key at the right time and the instrument will play itself” <br /> - Johann Sebastian Bach</p>
    </div>

</body>
