@{
    ViewBag.Title = "About";
}
<head>
    <link rel="stylesheet" type="text/css" href="~/Content/myStyles.css" />
</head>


<div class="brycecontainer">
    <img src="~/Content/Images/newfamily.jpg" alt="newamily" class="bryceimage">
    <div class="bryceoverlay">
        <div class="brycetext"> “To us, family means putting your arms around each other and being there.” </div>
    </div>
</div>