@{
    ViewBag.Title = "About";
}
<head>
    <link rel="stylesheet" type="text/css" href="~/Content/myStyles.css" />
</head>


<div class="brycecontainer">
    <img src="~/Content/Images/newfamily.jpg" alt="Family" class="bryceimage">
    <div class="bryceoverlay">
        <div class="brycetext">“To us, family means putting your arms around each other and being there.”</div>
    </div>
</div>

<h1 class="brycecentertext">~ OUR MISSION ~</h1>

<div>
    <h3 class="brycecentertext">We are here to help you. Regardless of your situation.</h3> <br />
        <p>We are here to help you get your loved one out of jail fast, at the cheapest rate possible. That’s why we’re on-call 24 hours a day, 7 days a week. <br />
            We’re also here to look up jail and charge information to provide you over the phone. Worried about confidentiality? We only request the exact information we need,
            and we guarantee it is only used for securing the release of your loved one. <br />
            You’ll get licensed counsel from expert bail bondsmen. With 20+ years serving customers, you can rest assured you’re getting the best service anywhere in Utah. <br />
        </p>
</div>