.myJumbotron {
    background: center;
    background-image: url('Images/636718283964270000.jpg');
    background-size: cover;
    color: white;
    font-weight: bold;
}


.brycecontainer {
    position: relative;
    width: 100%;
}
/*This sets my image*/
.bryceimage {
    display: block;
    width: 100%;
    height: auto;
}
/*This Sets my Overlay, so it can fade in and out*/
.bryceoverlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: yellow;
}
/*Fades on hover of mouse*/
.brycecontainer:hover .bryceoverlay {
    opacity: .5;
}
/*centers my text*/
.brycecentertext{
    text-align:center;
}
/*makes some of my text work in the overlay*/
.brycetext {
    color: black;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

.tough-guy-icons {
    display: block;
    max-height: 250px;
    max-width: 275px;
    min-width: 125px;
}

.tough-guy-profile {
    margin: auto;
    display: block;
    max-height: 400px;
    max-width: 400px;
    min-width: 125px;
}

.flex-text {
    display: flex;
    flex-wrap: wrap;
}

/*Position of text*/
div.absolute {
    position: absolute;
    top: 465px;
    right: 100px;
    width: 500px;
}

body {
    background-color: #f2f2f2;
}

.shadow {
    text-shadow: 1px 1px #800000;
}

.checked {
    color: orange;
}