.myJumbotron {
    background: center;
    background-image: url('Images/636718283964270000.jpg');
    background-size: cover;
    color: white;
    font-weight: bold;
}

.round-border {
    border-radius: 9px;
}
.text-area {
    padding: 10px !important;
    border: 1px ridge hidden !important;
    min-height: 205px !important;
    max-height: 205px !important;
    min-width: 95% !important;
    max-width: 95% !important;
}

/*Divides the page in two, divided vertically*/
.col-2 {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    
}

.col-2 div {
    margin: auto;
    align-items: baseline;
    max-width: 95%;
    min-width: 50%;
}

.brycecontainer {
    position: relative;
    width: 100%;
}
/*This sets my image*/
.bryceimage {
    display: block;
    width: 100%;
    height: auto;
}
/*This Sets my Overlay, so it can fade in and out*/
.bryceoverlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: yellow;
}
/*Fades on hover of mouse*/
.brycecontainer:hover .bryceoverlay {
    opacity: .5;
}
/*centers my text*/
.brycecentertext{
    text-align:center;
}
/*makes some of my text work in the overlay*/
.brycetext {
    color: black;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

.tough-guy-icons {
    display: block;
    max-height: 250px;
    min-height: 200px; 
    max-width: 260px;
    min-width: 260px;
}

.tough-guy-profile {
    margin: auto;
    display: block;
    max-height: 350px;
    max-width: 350px;
    min-width: 125px;
}

.flex-text {
    display: flex;
    flex-wrap: wrap;
}

/*Position of text*/
div.absolute {
    position: absolute;
    top: 465px;
    right: 100px;
    width: 500px;
}

body {
    background-color: white;
}

.shadow {
    text-shadow: 1px 1px #800000;
}

.checked {
    color: orange;
}

.guiimage {
    position: absolute;
    width: 10%;
    height: 15%;
    top: 1160px;
    right: 36px;
}

.guiimage2 {
    position: absolute;
    width: 30%;
    height: 67%;
    top: 816px;
    right: 200px;
}